.wrapper{
  height: 100vh;
  grid-template-rows: 11% 77% 12% 3% 67% 9% 15% 5%;
  z-index: 3;
}
.first{
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}


.hero{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: baseline;
  justify-content: center;
  /* padding-bottom: -1%; */
  margin:0;
  z-index: 1;
}
.figh{
  margin: 0;
  padding: 0;
}
.imgh{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  /* position: relative; */
  /* transform: translate(0%, -10%); */
}



.second{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(34,156,195);
  background: linear-gradient(174deg, rgba(34,156,195,1) 0%, rgba(136,253,45,1) 100%);
  color: white;
  /* position: absolute; */
  top:0%;
  /* transform: translate(0%, 88%); */
  z-index: 1;
  /* width: 100%; */
  /* height: 10vh; */
  text-align: center;
}

.terminal{
  margin-top: 0;
  background-color: rgba(255,255,255,0.9);
  }
#term1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#term2{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.namet {
  color: black;
  margin: 0;
  padding:0.1em 0.6em 0.1em 0.6em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}
.command_up{
  margin-top: 0.7em;
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 0.77em;
}
.command_title{
  text-align: center;
}
p.contain{
  padding-bottom: 2em ;
}
.command_int{
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 0.77em;
  margin-top: 2em;
}
#command_6{
  margin-top: 1.2em;
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 0.77em;
}
.skills_ul{
  margin-top: 0;
}
#term1_n{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#term2_n{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.desc{
  z-index: 3;
  text-align: left;
  padding: 0 0.6em;
  background-color: rgba(34,156,195, 0.6);
  font-size: 1em;
}
#term1_d{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
#term2_d{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}
#skills{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:0.9fr 0.7fr 1.1fr 1.3fr;
  grid-template-rows: auto;
  font-family: 'Roboto mono', monospace;
    font-weight: normal;
    font-size: 0.82em;
}
#skills_c1{
  grid-column-start: 1;
  grid-column-end: 2;
}
#skills_c2{
  grid-column-start: 2;
  grid-column-end: 3;
}
#skills_c3{
  grid-column-start: 3;
  grid-column-end: 4;
}
#skills_c4{
  grid-column-start: 4;
  grid-column-end: 5;
}
.command_title2{
  margin-bottom: 0.9em;
}
.desc ul{
  padding: 0;
}
.desc ul{
  padding: 0;
}


#foi{
  margin-bottom: 0;
}
.alias{
  font-style: normal;
  color: #f2ef13;
}
.dir{
  font-style: normal;
  color: #13f295;
}




.desc p{
  font-family: 'Roboto mono', monospace;
    font-weight: normal;
    font-size: 0.82em;
}



@media screen and  (max-width: 768px) {
  .header
  {
  grid-column-start: 2;
  grid-column-end: 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }
  h1{
    margin-top: 2vh;
    padding: 0;
  }
  h4.command_frt{
    padding-top: 0.3em;
  }
  #term2{
    display: none;
  }
  #term2_n{
    display: none;
  }
  #command_3{
    display: none;
  }
  .wrapper{
    grid-template-rows: 11vh 89vh 3vh 55vh 69vh 9vh 23vh 6vh;
  }
  .footer{
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .footer_latest , .footer_contact , .footer_collaborate{
    grid-row-start: 7;
    grid-row-end: 8;
  }
  #term1{
    grid-column-start: 2;
    grid-column-end: 7;
  }
  #term1_d{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  #term2_d{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .second{
    height: 177%;
  }
  .bord{
    grid-row-start: 6;
    grid-row-end: 7;
  }
  #term2_d.desc {
    background-color: rgba(0, 0, 0,0);
  }

  #navbar{
    display: none;
  }

  .zbb{
    display: block;
    display: block;
    position: fixed;
    top: 1vh;
    left: 96vw;
    z-index: 5;
    transform: translate(-86%,0);
  }
  #nav_mobile ul{
    display: block;
    text-align: right;
    padding-right: 3em;
    margin-top: 17vh;
    /* position: relative; */
  }
  #nav_mobile li{
    padding: 1.6em 0;
  }
  #nav_mobile{
    display: block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.7);
    z-index: 4;
    height: 100vh;
    transition: .1s;
  }

  #nav_mobile{
    left: 100%;
    width: 0%;
  }
  #skills{
    margin-bottom: 1em;
  }

  #ulcm{
    margin-top: 2em;
  }
}

@media screen and  (max-width: 566px) {
  .heroimg {

  }
}







body,html {
  background: rgb(6,6,6);

  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  text-align: left;
  z-index: 2;
  display: flex;
  align-items: center;
}
h1 {
  padding-left: 1em;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  font-size: 2.1em;
  transform: translate(0, -10%);
  font-family: Roboto sans-serif;
}
#nl{
  color: white;
  text-decoration: none;
}
.navlist {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;

    font-family: Roboto sans-serif;
    font-size: 1.2em;
}
.navlist ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navlist a{
  text-decoration: none;
  padding: 0 0 0 2.7vw;
  color: white;
}
#nav_mobile{
  display: none;
}
#bm{
  display: none;
  line-height: 6vh;
  text-align: center;
  width: 6vh;
  height: 6vh;
  border-radius: 33%;
  background-color: rgba(0,0,0,0.8);
  color: white;
}




.bord{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
}

.footer{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0.1vh solid rgb(255,255,255,0.1);
  padding-top: 0.3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.82em;
  color: rgb(255, 255, 255, 0.6);
}
.footer_contact a:hover, .footer_latest:hover, .footer_collaborate:hover{
  color: white;
}
.footer_contact{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 0vh 0 0 1em;
  font-size: 1.3em;
  letter-spacing: 1em;
}
.footer_contact a{
  color: rgb(255,255,255,0.9);
  text-decoration: none;
}
.footer_title{
  font-family: 'Open Sans', serif;
  font-size: 1.2em;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255, 0.9);

}
.footer_latest{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  text-align: left;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-left: 1em;
  color: rgb(255, 255, 255, 0.6);

}
.footer_latest ul{
  list-style: none;
  padding: 0;
}
.footer_latest a{
  color: rgb(34,156,255,0.6);
    text-decoration: none;
}
.footer_collaborate{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-right: 1em;
  color: rgb(255, 255, 255, 0.6);

}

.wrapper{
  display: grid;
  grid-template-columns: 5vw 30vw 13vw 4vw 13vw 30vw 5vw;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 3;
  width: 100%;
}

ul {
  list-style: none;
}
