.wrapper{
  height: 100vh;
  grid-template-rows: 11vh 89vh 3vh 55vh 11vh 14vh 6vh;
}
.first{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}


.hero{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  z-index: 1;
}
.figh{
  margin: 0;
  padding: 0;
}
.imgh{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 66vh;
  position: absolute;
  transform: translate(-50%, -10.9vh);
}

/* r */
#mod{
  position: absolute;
  left:5%;
  transform: translate(0%, 93vh);
  font-family: monospace;
  letter-spacing: 0.3em;
  font-size: 1.3em;
}
#Initi{
  position: absolute;
  left: 100%;
  transform: translate(-100%, 93vh);
  font-family: monospace;
  letter-spacing: 0.3em;
  font-size: 1.3em;
}


.second{
  background-color: Black;
  color: white;
  position: absolute;
  transform: translate(0%, 89vh);
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
}

.terminal{
  margin-top: 0;
  background-color: rgba(255,255,255,0.9);
  }
#term1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#term2{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
.namet {
  color: black;
  margin: 0;
  padding:0.1em 0.6em 0.1em 0.6em;
  vertical-align: middle;
  text-align: left;
}
#term1_n{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#term2_n{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
.desc{
  z-index: 3;
  text-align: left;
  padding-left: 0.6em;
  background-color: rgba(34,156,195, 0.6);
}
#term1_d{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#term2_d{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
#skills{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 0.9fr 1.1fr;
}
#skills_c1{
  grid-column-start: 1;
  grid-column-end: 2;
}
#skills_c2{
  grid-column-start: 2;
  grid-column-end: 3;
}
#skills_c3{
  grid-column-start: 3;
  grid-column-end: 4;
}
#skills_c4{
  grid-column-start: 4;
  grid-column-end: 5;
}
.command_title2{
  margin-bottom: 0.9em;
}
.desc ul{
  padding: 0;
}
.desc ul{
  padding: 0;
}

.command_frt{
margin-top: 0.3em;
}
.alias{
  font-style: normal;
  color: #f2ef13;
}
.dir{
  font-style: normal;
  color: #13f295;
}
.footer_contact a{
  color: white;
  text-decoration: none;
}


.bord{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
}
