body,html {
  background: rgb(6,6,6);
  width: 100%;
  color: white;
  margin: 0;
}
.wrapper{
  display: grid;
  grid-template-columns: 5% 30% 13.5% 3% 13.5% 30% 5%;
  grid-template-rows: 15.6vh 84.4vh 3.7vh 3vh auto 3.7vh auto 3.7vh;
  margin-left: 0;
  margin-right: 0;
  z-index: 3;
}
.first{
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 2;
  margin-left: 0;
  margin-right: 0;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}
.second{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(34,156,195);
  background: linear-gradient(180deg, rgba(34,156,195,1) 0%, rgba(54,175,166,1) 55%, rgba(77,184,155,1) 85%);
  color: white;
  z-index: 1;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#nl{
  color: white;
  text-decoration: none;
}
h1 {
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  font-size: 2.6em;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.navlist {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    margin-top: 1.4vh;
}
.navlist ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navlist li{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.3em;
}
.navlist a{
  text-decoration: none;
  padding: 0 0 0 2.7vw;
  color: white;
}
#nav_mobile{
  display: none;
}
/* r */
#mb{
  display: none;
}

.hero{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin:0;
  padding:0;
  z-index: 1;
}
.figh{
  margin: 0;
  padding: 0;
}
.imgh{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  transform: translate(0%, 1vh);
}
.terminal{
  margin-top: 0;
  background-color: rgba(255,255,255,0.9);
  }
#term1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#term2{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.namet {
  color: black;
  margin: 0;
  padding:0.1em 0.6em 0.1em 0.6em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}
#term1_n{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#term2_n{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.alias{
  font-style: normal;
  color: #f2ef13;
}
.dir{
  font-style: normal;
  color: #13f295;
}

.desc{
  z-index: 3;
  padding: 0 0.6em;
  background-color: rgba(34,156,195, 0.6);
  font-size: 1em;
}
#term1_d{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
#term2_d{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}
.desc p{
  text-align: justify;
  font-family: 'Open Sans', monospace;
  font-weight: normal;
  font-size: 0.9em;
}

/* First command */
.command_up{
  margin-top: 0.7em;
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 0.77em;
}
.desc_title{
  text-align: center;
}
p.desc_contain{
  padding-bottom: 1.6em ;
}

/* Second command */
.command_int{
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 0.77em;
  margin-top: 0;
}

/* second terminal */
.desc_subtitle{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}


#skills{
  margin: 0 2em;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns:0.9fr 1fr 1.5fr;
  grid-template-rows: 4vh auto auto auto auto auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.83em;
  width: 100%;
}
#ds_1{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-bottom: 0.5em;
}
#skills_c1{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
#ds_2{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: flex-end;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
}
#skills_c2{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
#skills_c3{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
#skills_c4{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}
#ds_3{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: flex-end;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
}
#skills_c5{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}

.desc ul{
  padding-left: 1em;
  margin: 0;
}


.bord{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
}

.footer{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0.1vh solid rgb(255,255,255,0.1);
  padding-top: 0.3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.82em;
  color: rgb(255, 255, 255, 0.6);
}
.footer_contact a:hover, .footer_latest a:hover, .footer_collaborate:hover{
  color: white;
}
.footer_contact{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end:8;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 0 0 0 4vw;
  font-size: 1.3em;
  letter-spacing: 2vw;
}
.footer_contact a{
  color: rgb(255,255,255,0.9);
  text-decoration: none;
}
.footer_title{
  font-family: 'Open Sans', serif;
  font-size: 1.2em;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255, 0.9);

}
.footer_latest{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  text-align: left;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-left: 1em;
}
.footer_latest ul{
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  text-align: left;
  padding: 0;
}
.footer_latest a, .footer_latest li{
  text-decoration: none;
  color: white;
  color: rgb(255, 255, 255, 0.6);
}
.footer_latest small{
  color: rgb(34,156,255,0.6);
    text-decoration: none;
}
.footer_collaborate{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-right: 1em;
  color: rgb(255, 255, 255, 0.6);

}

@media screen and  (max-width: 1111px) {
.header{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  margin-bottom: 2em;
}
.navlist{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  margin-top: 5em;
  margin-left: 2em;
}
.navlist a{
  padding: 0 2em 0 0;
}
}

@media screen and  (max-width: 768px) {
  .header{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
  }
  .navlist{
    display: none;
  }

  #mb{
    display: block;
    position: fixed;
    line-height: 3em;
    text-align: center;
    width: 3em;
    height: 3em;
    border-radius: 33%;
    background-color: rgba(0,0,0,0.1);
    color: white;
    top: 4.3vh;
    left: 96vw;
    z-index: 5;
    transform: translate(-86%,0);
  }
  #nav_mobile ul{
    display: block;
    text-align: right;
    padding-right: 3em;
    margin-top: 17vh;
  }
  #nav_mobile li{
    padding: 1.6em 0;
  }
  #nav_mobile{
    display: block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.7);
    z-index: 4;
    height: 100vh;
    transition: .1s;
  }

  #nav_mobile{
    left: 100%;
    width: 0%;
  }
  #term2{
    display: none;
  }
  #term2_n{
    display: none;
  }
  #command_3{
    display: none;
  }
  .wrapper{
    grid-template-rows: 15.6vh 84.4vh 3.7vh 3vh auto auto 3.7vh auto 3.7vh;
  }
  #term1{
    grid-column-start: 2;
    grid-column-end: 7;
  }
  #term1_d{
    grid-column-start: 2;
    grid-column-end: 7;
  }
  #term2_d{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  #skills{
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 4vh auto auto auto auto auto;
    text-align: center;
    margin: 0 auto;
  }
  #skills ul{
    list-style: none;
    padding-left: 0;
  }
  #ds_1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 0.5em;
    justify-content: center;
  }
  #skills_c1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #ds_2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
  }
  #skills_c2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #skills_c3{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #skills_c4{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #ds_3{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: flex-end;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    justify-content: center;
  }
  #skills_c5{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .bord{
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .footer_latest , .footer_contact , .footer_collaborate{
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .footer{
    grid-row-start: 9;
    grid-row-end: 10;
  }

}

@media screen and (max-width: 425px) {
  .wrapper{
    grid-template-rows: 15.6vh 84.4vh 3.7vh 3vh auto auto 3vh auto auto auto 6vh;
  }
  #mb{
    top: 3.6vh;
  }
  .imgh{
    width: 90%;
    height: auto;
  }
  .figh{
    text-align: center;
  }
  h1 {
    font-size: 1.6em;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
  }
  h2{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.3em;
  }
  h3{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
  }
  h4{
    text-align: left;
  }

  #nav_mobile ul{
    display: block;
    text-align: right;
    padding-right: 0.7em;
    margin-top: 14vh;
  }
  #nav_mobile li{
    padding: 1em 0;
  }

  .namet{
    font-size: 0.7em;
    display: flex;
    align-items: center;
  }
  .desc p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
  }
  .desc ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
  }

  .footer_latest{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-left: 0;
  }
  .footer_collaborate{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
    padding-right: 0;
  }
  .footer_contact{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 11;
    padding: 0 0 0 2vw;
    font-size: 1em;
    letter-spacing: 2vw;
  }
  .footer{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 12;
    padding: 0 0 0 2vw;
    font-size: 0.7em;
  }
  .footer_latest ul{
    /* font-size: 0.9em; */
    text-align: center;
    margin-top: 0.1em;
  }
  .footer_collaborate p{
    /* font-size: 0.9em; */
    margin-top: 0.1em;
    text-align: center;
  }

  h3.footer_title {
  /* font-size: 1em; */
  margin-bottom: 0em;
  text-align: center;
  }

}
@media screen and (max-width: 320px) {
  .header{
    justify-content: flex-start;
  }
  h1 {
    letter-spacing: normal;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    padding-left: 0.6em;
  }

}
