body,html {
  background: rgb(6,6,6);

  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
}
.wrapper{
  display: grid;
  grid-template-columns: 5vw 16vw 6vw 6vw 16vw 2vw 14vw 10vw 20vw 5vw;
  grid-template-rows: 100px 20px 130px
  190px 360px 295px 275px 210px
  90px 100px 30px;

  width: 100%;
}
#nav_mobile{
  display: none;
}
#mb{
  display: none;
}

.header {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  font-size: 2.6em;
  font-family: 'Open Sans',sans-serif;
}
.navlist li{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.3em;
}
h2{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2em;
  margin-top: 0em;
  color: rgb(255,255,255,0.7);
  letter-spacing: 0.3em;
  font-weight: bolder;
}
h3{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.3em;
  margin-top: 0.8em;
}
h4{
  text-align: right;
}
.project_r p, ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}
.project_r li{
  padding-bottom: 1em;
}
.project_date{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1em;
  margin-top: 1.6em;
}
.project_inst{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1em;
  padding-left: 3em;
  color: rgb(255,255,255,0.3);
}
.navlist {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navlist ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navlist a{
  text-decoration: none;
  padding: 0 0 0 3vw;
  color: white;
}
.page_title{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}
.vertical_border{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 9;
  border-left: 0.3em solid rgb(255,255,255,0.3);
}

#p_1_d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#p_1_i{
  grid-column-start:9;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}
#p_1_r{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
}
.project_d{
  padding-left: 2vw;
}
.project_r{
  padding-left: 1em;
}
#p_2_d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
#p_2_i{
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;

}
#p_2_r{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
}

#p_3_d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
#p_3_i{
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
}
#p_3_r{
  grid-column-start:5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
}


#p_4_d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}
#p_4_i{
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
}
#p_4_r{
  grid-column-start:5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
}

#p_5_d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#p_5_r{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
}

.project_bcg{
  background-color: rgb(78,84,78, 0.3);
  border-radius: 11px 11px 11px 11px;
}

#pj1{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 175px;
}
#pj2{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
  height: 345px;
}
#pj3{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 280px;
}
#pj4{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
  height:  260px;
}
#pj5{
  grid-column-start:5;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
  height: 215px;
}
.project_con{
  display: flex;
  align-items: center;
  justify-content: center;
}
.project_fig{
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
}
.project_img{
  width: 220px;
  height: 120px;
}
.project_img-d{
  width: 220px;
  height: 60px;
}
figcaption{
  color: rgba(255,255,255,0.3);
}
.pd{
color: rgba(255, 255, 255, 0.6);
}
h6{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.sk_pad{
  margin-left: 3em;
}
.sk{
  background-color: #009933;
  border: none;
  color: white;
  margin: 0;
  padding: 2px 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
}



.bord{
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 10;
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
}


.footer{
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 11;
  grid-row-end: 12;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0.1vh solid rgb(255,255,255,0.1);
  padding-top: 0.3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.82em;
  color: rgb(255, 255, 255, 0.6);
}
.footer_contact a:hover, .footer_latest a:hover, .footer_collaborate p:hover{
  color: white;
}
.footer_contact{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 11;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 0 0 0 4vw;
  font-size: 1.3em;
  letter-spacing: 2vw;
}
.footer_contact a{
  color: rgb(255,255,255,0.9);
  text-decoration: none;
}
.footer_title{
  font-family: 'Open Sans', serif;
  font-size: 1.2em;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255, 0.9);

}
.footer_latest{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 11;
  text-align: left;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-left: 1em;

}
.footer_latest ul{
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  padding: 0;
}
.footer_latest a, li{
  text-decoration: none;
  color: white;
  color: rgb(255, 255, 255, 0.6);
}
.footer_latest small{
  color: rgb(34,156,255,0.6);
    text-decoration: none;
}
.footer_collaborate{
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 11;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding-right: 1em;
  color: rgb(255, 255, 255, 0.6);
}

@media screen and (max-width: 1190px) {
  .wrapper{
    grid-template-rows: 100px 20px 130px
    200px 340px 305px 265px 220px
    70px 100px 30px;
  }
  .project_img{
    width: 200px;
    height: 110px;
  }
  .project_img-d{
    width: 200px;
    height: 55px;
  }
  #pj4{
    height: 240px;
  }
  #pj5{
    height: 220px;
  }
  .project_inst{
    padding-left: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper{
    grid-template-rows:
    100px 20px 130px
    160px 235px     340px 235px    240px 240px    260px 235px    205px
    90px 140px 30px;
  }
  #pj1{
    grid-row-start: 4;
    grid-row-end: 6;
    height: 380px;
  }
  #pj2{
    grid-row-start: 6;
    grid-row-end: 8;
    height: 560px;
  }
  #pj3{
    grid-row-start: 8;
    grid-row-end: 10;
    height: 465px;
  }
  #pj4{
    grid-row-start: 10;
    grid-row-end: 12;
    height: 480px;
  }
  #pj5{
    grid-row-start: 12;
    grid-row-end: 14;
    height: 215px;
  }

  .project_img{
    height: 200px;
    width: 370px;
  }
  .project_img-d{
    height: 100px;
    width: 370px;
  }
  .project_fig{
    width: 370px;
  }
  .sk_al{
    padding-right: 1em;
    text-align: center;
    margin: 0;
  }

  .project_con{
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #p_1_d{
    grid-row-start: 4;
    grid-row-end: 6;
  }
  #p_1_r{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #p_1_i{
    grid-column-start:5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  #p_2_d{
    grid-row-start: 6;
    grid-row-end: 8;
  }
  #p_2_r{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  #p_2_i{
    grid-column-start:5;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  #p_3_d{
    grid-row-start: 8;
    grid-row-end: 10;
  }
  .vertical_border{
    grid-row-start: 4;
    grid-row-end: 13;
    border-left: 0.3em solid rgb(255,255,255,0.3);
  }

  #p_3_r{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  #p_3_i{
    grid-column-start:5;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  #p_4_d{
    grid-row-start: 10;
    grid-row-end: 12;
  }
  #p_4_r{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 11;
  }
  #p_4_i{
    grid-column-start:5;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 12;
  }
  #p_5_d{
    grid-row-start: 12;
    grid-row-end: 13;
  }
  #p_5_r{
    grid-row-start: 12;
    grid-row-end: 13;
  }


  .project_r{
    padding-left: 1em;
    padding-right: 1em;
  }
  .bord{
    grid-row-start: 13;
    grid-row-end: 14;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
  }
  .page_title {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  .footer{
    grid-row-start: 15;
    grid-row-end: 16;
  }
  .footer_contact{
    grid-row-start: 14;
    grid-row-end: 15;
  }

  .footer_latest{
    grid-row-start: 14;
    grid-row-end: 15;
  }

  .footer_collaborate{
    grid-row-start: 14;
    grid-row-end: 15;
  }

}

@media screen and (max-width: 990px) {
  .wrapper{
    grid-template-rows:
    100px 20px 130px
    170px 230px     330px 235px    300px 240px    275px 235px    205px
    90px 140px 30px;
  }
  .header {
    grid-column-start: 2;
    grid-column-end: 8;
  }
  #pj2{
    height: 545px;
  }
  #pj3{
    height: 520px;
  }
  #pj4{
    height: 490px;
  }
  #pj5{
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    grid-template-rows:
    100px 20px 130px
    180px 240px     335px 240px    300px 240px    275px 235px    215px
    90px 130px 30px;
  }
  #pj1{
    height: 400px;
  }
  #pj2{
    height: 555px;
  }
  #pj3{
    height: 520px;
  }
  #pj4{
    height: 490px;
  }
  #pj5{
    height: 225px;
  }
  .header , .page_title {
    grid-column-start: 2;
    grid-column-end: 10;
  }
  .navlist {
      display: none;
  }
  #mb{
    display: block;
    position: fixed;
    line-height: 3em;
    text-align: center;
    width: 3em;
    height: 3em;
    border-radius: 33%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    top: 25px;
    left: 96vw;
    z-index: 5;
    transform: translate(-86%,0);
  }
  #nav_mobile ul{
    display: block;
    text-align: right;
    padding-right: 3em;
    margin-top: 170px;
    /* position: relative; */
  }
  #nav_mobile li{
    padding: 1.6em 0;
  }
  #nav_mobile{
    display: block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.7);
    z-index: 4;
    height: 130vh;
    transition: .1s;
  }
  #nav_mobile{
    left: 100%;
    width: 0%;
  }

}

@media screen and (max-width: 425px) {
  .wrapper{
    grid-template-rows:
    100px 6px 70px
    200px 150px     470px 150px    360px 170px    345px 145px    260px
    70px 90px 83px 30px 30px;
  }
  #pj1{
    height: 340px;
  }
  #pj2{
    height: 610px;
  }
  #pj3{
    height: 515px;
  }
  #pj4{
    height: 475px;
  }
  #pj5{
    height: 270px;
  }
  .project_img{
    height: 28vw;
    width: 56vw;
  }
  .project_img-d{
    height: 16vw;
    width: 56vw;
  }
  .project_fig{
    width: 56vw;
  }
  #mb{
    background-color: rgb(0,0,0,0.3);
    line-height: 3em;
    top: 27px;
  }
   .header{
     justify-content: center;
   }
  h1 {
    font-size: 1.4em;
    font-family: 'Open Sans',sans-serif;
    padding-left: 0em;
  }

  h2{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.3em;
  }
  h3{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    margin-top: 0.8em;
  }
  h4{
    text-align: left;
  }
  .project_r p, ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    text-align: justify;
  }
  .project_r ul{
    padding-left: 2em;
  }
  .project_date{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.8em;
    text-align: left;
    margin-top: 1.2em;
  }
  .project_inst{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.63em;
    padding-left: 0;
    color: rgb(255,255,255,0.3);
  }
  .sk{
    padding: 1px 1em;
    font-size: 1em;
    margin-bottom: 3px;
  }
  .sk_al {
    padding-right: 0em;
  }

  .footer_latest{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 14;
    grid-row-end: 15;
    padding-left: 0;
  }
  .footer_collaborate{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 15;
    grid-row-end: 16;
    padding-right: 0;
  }
  .footer_contact{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 16;
    grid-row-end: 17;
    padding: 0 0 0 2vw;
    font-size: 1em;
    letter-spacing: 2vw;
  }
  .footer{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 17;
    grid-row-end: 18;
    padding: 0 0 0 2vw;
    font-size: 0.6em;
  }
  h3.footer_title {
    font-size: 1em;
    text-align: center;
  }
  .footer_latest ul{
    font-size: 0.9em;
    text-align: center;
  }
  .footer_collaborate {
    font-size: 0.7em;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .wrapper{
    grid-template-rows:
    100px 6px 70px
    200px 135px     510px 130px    425px 150px    365px 130px    290px
    70px 90px 83px 30px 30px;
  }
  #pj1{
    height: 320px;
  }
  #pj2{
    height: 625px;
  }
  #pj3{
    height: 560px;
  }
  #pj4{
    height: 480px;
  }
  #pj5{
    height: 300px;
  }
@media screen and (max-width: 320px) {
  .wrapper{
    grid-template-rows:
    100px 6px 70px
    240px 115px     590px 115px    500px 130px    425px 115px    340px
    60px 90px 83px 30px 30px;
  }
  #pj1{
    height: 340px;
  }
  #pj2{
    height: 690px;
  }
  #pj3{
    height: 615px;
  }
  #pj4{
    height: 525px;
  }
  #pj5{
    height: 340px;
  }
  .header{
    justify-content: flex-start;
  }
 h1 {
   font-size: 1.4em;
   font-family: 'Open Sans',sans-serif;
   padding-left: 0.6em;
 }
}
