/* Color Theme Swatches in Hex */
.Princess-and-the-Unicorn-1-hex { color: #D9043D; }
.Princess-and-the-Unicorn-2-hex { color: #668CD9; }
.Princess-and-the-Unicorn-3-hex { color: #78BF83; }
.Princess-and-the-Unicorn-4-hex { color: #5EA65B; }
.Princess-and-the-Unicorn-5-hex { color: #CAD9BA; }

/* Color Theme Swatches in Hex */
.Vestlandet-1-hex { color: #6889A6; }
.Vestlandet-2-hex { color: #223440; }
.Vestlandet-3-hex { color: #3F5F73; }
.Vestlandet-4-hex { color: #142126; }
.Vestlandet-5-hex { color: #A68B6A; }

/* Color Theme Swatches in Hex */
.Landscapes-1-hex { color: #2F5373; }
.Landscapes-2-hex { color: #173040; }
.Landscapes-3-hex { color: #F24405; }
.Landscapes-4-hex { color: #BF3111; }
.Landscapes-5-hex { color: #731810; }

/* Color Theme Swatches in Hex */
.AUDI-RS-Q8-1-hex { color: #D9043D; }
.AUDI-RS-Q8-2-hex { color: #2E4959; }
.AUDI-RS-Q8-3-hex { color: #04BF68; }
.AUDI-RS-Q8-4-hex { color: #038C4C; }
.AUDI-RS-Q8-5-hex { color: #014023; }

/* Color Theme Swatches in Hex */
.The-Different-Sky-1-hex { color: #2C4459; }
.The-Different-Sky-2-hex { color: #465E73; }
.The-Different-Sky-3-hex { color: #C1CED9; }
.The-Different-Sky-4-hex { color: #0D1C26; }
.The-Different-Sky-5-hex { color: #173040; }

@font-face {
   font-family: 'icomoon';
   src:  url('../fonts/icomoon.eot?lohhxq');
   src:  url('../fonts/icomoon.eot?lohhxq#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.ttf?lohhxq') format('truetype'),
     url('../fonts/icomoon.woff?lohhxq') format('woff'),
     url('../fonts/icomoon.svg?lohhxq#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }

 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .icon-newspaper:before {
   content: "\e904";
 }
 .icon-quill:before {
   content: "\e907";
 }
 .icon-profile:before {
   content: "\e923";
 }
 .icon-file-zip:before {
   content: "\e92b";
 }
 .icon-folder-open:before {
   content: "\e930";
 }
 .icon-phone:before {
   content: "\e942";
 }
 .icon-envelop:before {
   content: "\e945";
 }
 .icon-location:before {
   content: "\e947";
 }
 .icon-display:before {
   content: "\e956";
 }
 .icon-rocket:before {
   content: "\e9a5";
 }
 .icon-menu:before {
   content: "\e9bd";
 }
 .icon-sphere:before {
   content: "\e9c9";
 }
 .icon-earth:before {
   content: "\e9ca";
 }
 .icon-embed2:before {
   content: "\ea80";
 }
 .icon-terminal:before {
   content: "\ea81";
 }
 .icon-instagram:before {
   content: "\ea92";
 }
 .icon-spotify:before {
   content: "\ea94";
 }
 .icon-telegram:before {
   content: "\ea95";
 }
 .icon-twitter:before {
   content: "\ea96";
 }
 .icon-youtube:before {
   content: "\ea9d";
 }
 .icon-vimeo2:before {
   content: "\eaa1";
 }
 .icon-github:before {
   content: "\eab0";
 }
 .icon-tux:before {
   content: "\eabd";
 }
 .icon-android:before {
   content: "\eac0";
 }
 .icon-soundcloud2:before {
   content: "\eac4";
 }
 .icon-linkedin:before {
   content: "\eac9";
 }
 .icon-stackoverflow:before {
   content: "\ead0";
 }
 .icon-paypal:before {
   content: "\ead8";
 }
 .icon-git:before {
   content: "\eae7";
 }


body,html {
  height: 100%;
  color: white;
  margin: 0;
}

.header {
  grid-area: header;
  padding: 0 1.6vw 0 2vw;
  /* background-color: #C1CED9; */
  /* color: #2C4459; */
  text-align: center;
  color: white;
}
.logo {
    /* border: 1px solid red; */
}

.navlist {
    /* border: 1px solid red; */
    grid-area: navl;


}
.navlist ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.navlist a{
  text-decoration: none;
  padding: 0 1.4vw;
  /* color: #2C4459; */
  color: white;
}
.hero{
  grid-area: hero;
  /* border: 1px solid green; */
  text-align: center;
}
.desc1{
  grid-area: desc1;
  text-align: left;
  padding-left: 0.6em;
  background-color: Black; /* Fallback color */
  background-color: rgba(42,135,173, 0.3); /* Black w/opacity/see-through */
  /* color: white; */
  /* background-color: #173040; */
  /* border: 1px solid red; */
}
.desc1 ul{
  padding: 0;
}
.desc3 ul{
  padding: 0;
}
.desc2{
  grid-area: desc2;
  text-align: left;
  padding-left: 0.6em;

  background-color: Black; /* Fallback color */
  background-color: rgba(42,135,173, 0.3); /* Black w/opacity/see-through */

  /* background-color: #C1CED9; */
  /* border: 1px solid red; */
}
.desc3{
  grid-area: desc3;
  text-align: left;
  padding-left: 0.6em;

  background-color: Black; /* Fallback color */
  background-color: rgba(42,135,173, 0.3); /* Black w/opacity/see-through */

  /* padding-right: 0.6em; */
  /* background-color: #465E73; */
  /* border: 1px solid red; */
}
.footer{
  /* background-color: #C1CED9; */
  /* color: #0D1C26; */
  color: white;
  grid-area: footer;
  text-align: center;

  /* border: 1px solid blue; */
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  height: 100vh;
  grid-template-rows: 0.7fr 1fr 1fr 2fr 1fr 1fr 0.3fr;
  grid-template-areas:
  "header header .. navl navl"
  " .. .. .. desc2 desc2"
  " hero hero ..  desc2 desc2"
  " hero hero .. desc1 desc1"
  " hero hero ..  desc3 desc3"
  " hero hero ..  desc3 desc3 "
  " foo foo footer fooc fooc";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 77%;
}
.terminal {
  margin: 0;
}
.termi{
  margin-top: 0;
  background-color: Black; /* Fallback color */
  background-color: rgba(255,255,255,0.3); /* Black w/opacity/see-through */
  }
/* .term{
  background-color: Black;
  background-color: rgba(113, 242, 15, 0.3);
  color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 23%;
  height: 23%;
  text-align: center;
} */
ul {
  list-style: none;
}

.bimg{
  background: url(../images/noche.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* background-color: black; */
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foo{
  grid-area: foo;
  text-align: center;
  padding-bottom: 0.2em;
  /* word-spacing: 0.3em; */
  letter-spacing: 0.6em;
}
.fooCon{
  grid-area: fooc;
  text-align: right;
  padding-bottom: 0.2em;
  letter-spacing: 0.6em;

  /* word-spacing: 0.3em; */
}
.alias{
  font-style: normal;
  color: #f2ef13;
}
.dir{
  font-style: normal;
  color: #13f295;
}
