/* Color Theme Swatches in Hex */
.Princess-and-the-Unicorn-1-hex { color: #D9043D; }
.Princess-and-the-Unicorn-2-hex { color: #668CD9; }
.Princess-and-the-Unicorn-3-hex { color: #78BF83; }
.Princess-and-the-Unicorn-4-hex { color: #5EA65B; }
.Princess-and-the-Unicorn-5-hex { color: #CAD9BA; }

/* Color Theme Swatches in RGBA */
.Princess-and-the-Unicorn-1-rgba { color: rgba(216, 4, 60, 1); }
.Princess-and-the-Unicorn-2-rgba { color: rgba(101, 140, 216, 1); }
.Princess-and-the-Unicorn-3-rgba { color: rgba(120, 191, 131, 1); }
.Princess-and-the-Unicorn-4-rgba { color: rgba(93, 165, 91, 1); }
.Princess-and-the-Unicorn-5-rgba { color: rgba(201, 216, 186, 1); }

/* Color Theme Swatches in HSLA */
.Princess-and-the-Unicorn-1-hsla { color: hsla(343, 96, 43, 1); }
.Princess-and-the-Unicorn-2-hsla { color: hsla(219, 60, 62, 1); }
.Princess-and-the-Unicorn-3-hsla { color: hsla(129, 35, 61, 1); }
.Princess-and-the-Unicorn-4-hsla { color: hsla(118, 29, 50, 1); }
.Princess-and-the-Unicorn-5-hsla { color: hsla(90, 28, 79, 1); }


/* Color Theme Swatches in Hex */
.Vestlandet-1-hex { color: #6889A6; }
.Vestlandet-2-hex { color: #223440; }
.Vestlandet-3-hex { color: #3F5F73; }
.Vestlandet-4-hex { color: #142126; }
.Vestlandet-5-hex { color: #A68B6A; }

/* Color Theme Swatches in RGBA */
.Vestlandet-1-rgba { color: rgba(104, 137, 165, 1); }
.Vestlandet-2-rgba { color: rgba(33, 52, 63, 1); }
.Vestlandet-3-rgba { color: rgba(63, 94, 114, 1); }
.Vestlandet-4-rgba { color: rgba(20, 33, 38, 1); }
.Vestlandet-5-rgba { color: rgba(165, 138, 106, 1); }

/* Color Theme Swatches in HSLA */
.Vestlandet-1-hsla { color: hsla(208, 25, 52, 1); }
.Vestlandet-2-hsla { color: hsla(202, 30, 19, 1); }
.Vestlandet-3-hsla { color: hsla(202, 29, 34, 1); }
.Vestlandet-4-hsla { color: hsla(196, 30, 11, 1); }
.Vestlandet-5-hsla { color: hsla(33, 25, 53, 1); }



/* Color Theme Swatches in Hex */
.Landscapes-1-hex { color: #2F5373; }
.Landscapes-2-hex { color: #173040; }
.Landscapes-3-hex { color: #F24405; }
.Landscapes-4-hex { color: #BF3111; }
.Landscapes-5-hex { color: #731810; }

/* Color Theme Swatches in RGBA */
.Landscapes-1-rgba { color: rgba(47, 83, 114, 1); }
.Landscapes-2-rgba { color: rgba(22, 48, 63, 1); }
.Landscapes-3-rgba { color: rgba(242, 68, 4, 1); }
.Landscapes-4-rgba { color: rgba(191, 49, 17, 1); }
.Landscapes-5-rgba { color: rgba(114, 24, 16, 1); }

/* Color Theme Swatches in HSLA */
.Landscapes-1-hsla { color: hsla(208, 41, 31, 1); }
.Landscapes-2-hsla { color: hsla(202, 47, 17, 1); }
.Landscapes-3-hsla { color: hsla(16, 96, 48, 1); }
.Landscapes-4-hsla { color: hsla(11, 83, 40, 1); }
.Landscapes-5-hsla { color: hsla(5, 75, 25, 1); }



/* Color Theme Swatches in Hex */
.AUDI-RS-Q8-1-hex { color: #D9043D; }
.AUDI-RS-Q8-2-hex { color: #2E4959; }
.AUDI-RS-Q8-3-hex { color: #04BF68; }
.AUDI-RS-Q8-4-hex { color: #038C4C; }
.AUDI-RS-Q8-5-hex { color: #014023; }

/* Color Theme Swatches in RGBA */
.AUDI-RS-Q8-1-rgba { color: rgba(216, 4, 60, 1); }
.AUDI-RS-Q8-2-rgba { color: rgba(46, 72, 89, 1); }
.AUDI-RS-Q8-3-rgba { color: rgba(3, 191, 103, 1); }
.AUDI-RS-Q8-4-rgba { color: rgba(2, 140, 76, 1); }
.AUDI-RS-Q8-5-rgba { color: rgba(1, 63, 34, 1); }

/* Color Theme Swatches in HSLA */
.AUDI-RS-Q8-1-hsla { color: hsla(343, 96, 43, 1); }
.AUDI-RS-Q8-2-hsla { color: hsla(202, 31, 26, 1); }
.AUDI-RS-Q8-3-hsla { color: hsla(151, 96, 38, 1); }
.AUDI-RS-Q8-4-hsla { color: hsla(151, 96, 28, 1); }
.AUDI-RS-Q8-5-hsla { color: hsla(151, 96, 12, 1); }



/* Color Theme Swatches in Hex */
.The-Different-Sky-1-hex { color: #2C4459; }
.The-Different-Sky-2-hex { color: #465E73; }
.The-Different-Sky-3-hex { color: #C1CED9; }
.The-Different-Sky-4-hex { color: #0D1C26; }
.The-Different-Sky-5-hex { color: #173040; }

/* Color Theme Swatches in RGBA */
.The-Different-Sky-1-rgba { color: rgba(43, 68, 89, 1); }
.The-Different-Sky-2-rgba { color: rgba(69, 93, 114, 1); }
.The-Different-Sky-3-rgba { color: rgba(192, 205, 216, 1); }
.The-Different-Sky-4-rgba { color: rgba(12, 28, 38, 1); }
.The-Different-Sky-5-rgba { color: rgba(22, 48, 63, 1); }

/* Color Theme Swatches in HSLA */
.The-Different-Sky-1-hsla { color: hsla(208, 34, 26, 1); }
.The-Different-Sky-2-hsla { color: hsla(208, 24, 36, 1); }
.The-Different-Sky-3-hsla { color: hsla(208, 23, 80, 1); }
.The-Different-Sky-4-hsla { color: hsla(202, 50, 9, 1); }
.The-Different-Sky-5-hsla { color: hsla(202, 47, 17, 1); }
