/* Color Theme Swatches in Hex */
.Princess-and-the-Unicorn-1-hex { color: #D9043D; }
.Princess-and-the-Unicorn-2-hex { color: #668CD9; }
.Princess-and-the-Unicorn-3-hex { color: #78BF83; }
.Princess-and-the-Unicorn-4-hex { color: #5EA65B; }
.Princess-and-the-Unicorn-5-hex { color: #CAD9BA; }

/* Color Theme Swatches in Hex */
.Vestlandet-1-hex { color: #6889A6; }
.Vestlandet-2-hex { color: #223440; }
.Vestlandet-3-hex { color: #3F5F73; }
.Vestlandet-4-hex { color: #142126; }
.Vestlandet-5-hex { color: #A68B6A; }

/* Color Theme Swatches in Hex */
.Landscapes-1-hex { color: #2F5373; }
.Landscapes-2-hex { color: #173040; }
.Landscapes-3-hex { color: #F24405; }
.Landscapes-4-hex { color: #BF3111; }
.Landscapes-5-hex { color: #731810; }

/* Color Theme Swatches in Hex */
.AUDI-RS-Q8-1-hex { color: #D9043D; }
.AUDI-RS-Q8-2-hex { color: #2E4959; }
.AUDI-RS-Q8-3-hex { color: #04BF68; }
.AUDI-RS-Q8-4-hex { color: #038C4C; }
.AUDI-RS-Q8-5-hex { color: #014023; }

/* Color Theme Swatches in Hex */
.The-Different-Sky-1-hex { color: #2C4459; }
.The-Different-Sky-2-hex { color: #465E73; }
.The-Different-Sky-3-hex { color: #C1CED9; }
.The-Different-Sky-4-hex { color: #0D1C26; }
.The-Different-Sky-5-hex { color: #173040; }


.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.6vw 0 2vw;
  background-color: #C1CED9;
  color: #2C4459;
}
.logo {
    /* border: 1px solid red; */
}

.navlist {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.header ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header a{
  text-decoration: none;
  padding: 0 1.4vw;
  color: #2C4459;
}
.hero{
  grid-area: hero;
  /* border: 1px solid green; */
  text-align: center;
}
.desc1{
  grid-area: desc1;
  text-align: left;
  padding-left: 0.6em;
  /* background-color: #2C4459; */
  /* border: 1px solid red; */
}
.desc1 ul{
  padding: 0;
}
.desc2{
  grid-area: desc2;
  text-align: center;
  /* background-color: #465E73; */
  /* border: 1px solid red; */
}
.desc3{
  grid-area: desc3;
  text-align: right;
  padding-right: 0.6em;
  /* background-color: #465E73; */
  /* border: 1px solid red; */
}
.footer{
  grid-area: footer;
  color: black;
  /* border: 1px solid blue; */
}

.wrapper{
  display: grid;
  grid-template: repeat(5,auto)/repeat(3,1fr);
  grid-template-areas:
  "header   header    header"
  "..   hero    .."
  "desc1  desc2   desc3"
  "footer footer  footer";
}
ul {
  list-style: none;
}

.fooCop{
background-color: #C1CED9;
text-align: center;
}
.fooCon{
  padding: 0.3em;
  text-align: center;
  word-spacing: 0.3em;
}
